@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<div class="register-container">
    <h2>Sign Up</h2>
    <form id="registerForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required>
        </div>
        <button type="submit" class="btn btn-primary" onclick="UsercredentialPost(event)">Register</button>
        <a>Already have an account? <a asp-controller="Login" asp-action="Index">Login</a></a>
    </form>
</div>